@import url(./style.css);

.title{
  width: max-content;
  height: 48px;
  margin: 0 0 12px;

  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #000000;
  line-height: 32px;
}

main#home,
main#perfil {
  position: relative;
  display: grid;
  max-width: 721px;
  min-height: 500px;
  max-height: 963px;
  height: 100%;
  box-sizing: border-box;
  grid-template-rows: 30% auto max-content;
  overflow: hidden;
  background-color: rgb(83, 82, 82);
  z-index: 2;
}

main #main-image {
  position: absolute;
  object-fit: cover;
  width: 721px;
  height: 963px;
}

main ul,
main li {
  padding: 0;
  margin: 0;
  list-style: none;
}

main#home .home-bar,
main#perfil .home-bar  {
  width: 100%;
  height: 80px;
  z-index: 2;
  padding: 0 140px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 9.76px;
  flex-direction: row;
  justify-content: center;
}

main .home-bar li {
  height: 8.14px;
  width: 100%;
  background: var(--color-white);
  border-radius: 9.76344px;
  box-shadow: 1 1 11px 11px rgba(0, 0, 0, 0.7);
}

/*para elementos vizualizados na barra de home*/

main .home-bar li.visualized {
  background: #333333;
}

main .home-nav {
  width: 100%;
  position: relative;
  height: 80px;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 6;
  margin: auto;
}

main .home-nav button {
  font-size: 60px;
  color: white;
  background: none;
  border: none;
  width: 120px;
  height: 200px;
}

main .home-nav button:hover {
  background: radial-gradient(
    rgba(0, 0, 0, 0.369),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 300ms;
}

main .home-footer {
  position: relative;
  margin: 36px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

main #person-name {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: var(--color-white);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

main .talk-now {
  display: flex;
  width: 255px;
  height: 34px;
  background-color: var(--color-white);
  padding: 0 10px;
  border-radius: 15px;
  box-sizing: border-box;

  line-height: 34px;
  color: var(--vermelho-principal);
  font-weight: 400;
  font-size: 16px;
  justify-content: space-around;
}

main .talk-now img:not(.img-1, .img-2) {
  align-self: center;
}

main .talk-now .img-1,
main .talk-now .img-2 {

  align-self: center;
}

main ul#tag-area {
  position: relative;
  display: grid;

  gap: 15px;
  grid-template-columns: repeat(auto-fit, 121px);

  box-sizing: border-box;
  max-width: 100%;
  margin-top: 13px;
}

main #tag-area li {
  white-space: nowrap;
  overflow: hidden;
  width: 121px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 7px;

  line-height: 31px;
  font-size: 14px;
  color: rgb(161, 161, 161);
  text-overflow: ellipsis;
}

main #subtitle {
  text-align: justify;
  margin-top: 10px;

  color: white;
  font-weight: 400;
  font-size: 16px;
}

/*Para a barra de progresso do home*/
main #home-progress-content {
  padding: 0;
  margin: 30px auto;
  height: 24px;
  width: 100%;
  background: rgba(0, 0, 0, 0.48);
  border-radius: 15px;
  overflow: hidden;
}
main #home-progress-bar {
  background-color: var(--vermelho-principal);
  height: 24px;
  width: 0%;
  display: flex;
  border-radius: 15px;
  overflow: visible;
}

main #home-progress-val {
  display: flex;
  float: right;
  line-height: 24px;
  margin: 0 5px 0 auto;
  color: var(--color-white);
}

/*Botões do fundão, like, dislike, fav...*/
#home-btns {
  display: flex;
  justify-content: space-between;
}

#home-btns button {
  border: none;
  background: none;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 50px;
}

#home-btns #retry {
  background: url(./../images/retry-ico.svg) no-repeat center;
  background-color: #7cd0ff;
  width: 56px;
  height: 56px;
  margin: auto 0 0;
}

#home-btns #dislike {
  background: url(./../images/cross-ico.svg) no-repeat center;
  background-color: #b42937;
}

#home-btns #maybe {
  color: white;
  font-weight: 400;
  font-size: 32px;
}

#home-btns #like {
  background: url(./../images/like-ico.svg) no-repeat center;
  background-color: #5ccb5f;
}

#home-btns #favorite {
  background: url(./../images/star-ico.svg) no-repeat center;
  background-color: #ffea79;
  width: 56px;
  height: 56px;
  margin: auto 0 0;
}

/*Diálogo de notificação flutuante*/
.dialog-container {
  overflow-y: hidden;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 4;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog-container .dialog-content {
  z-index: 4;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;

  border: none;

  background-size: 28px 30px;
  border-radius: 10px;
}

.dialog-container button.exit {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  background: url(./../images/close-icon.png) no-repeat center;
  border: none;
}

.dialog-container p {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 272px;
  margin: 71px 31px 15px;
}

.dialog-container button#active {
  width: 210px;
  height: 34px;
  margin: 0 auto;

  background: #fc003b;
  border: none;
  border-radius: 4px;

  color: white;
  font-size: 14px;
}

.dialog-container button#pass-this {
  width: max-content;
  height: max-content;
  line-height: 12px;
  font-size: 12px;
  background: none;
  border: none;
  margin: 5px auto 0;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.6);
}

/*Caixa de diálogo 'entenda como funciona'*/
.dialog-information .dialog-content {
  width: 552px;
  height: 316px;
  background: url(./../images/information-icon.svg) no-repeat center 17px #fff;
}

.dialog-information .dialog-content h2 {
  margin-top: 120px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.dialog-information .dialog-content p {
  width: 526px;
  margin: 5px auto 0;
  font-size: 14px;
  font-weight: 400;
}

.dialog-question .dialog-content {
  background: url(./../images/notification-icon.svg) no-repeat center 31px #fff;
  width: 334px;
  height: 245px;
}

/*DOCUMENTO carroussel.html*/
main#carroussel {
  margin: 0 auto;
  max-width: 1100px;
  width: 94%;
  min-height: 100vh;
  background: #fff;
  padding: 32px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}



main#carroussel figure#informacoes-perfil {
  width: 100%;
  height: max-content;
  max-height: 340px;
  display: flex;
  padding: 15px 25px;
  box-sizing: border-box;
  overflow: hidden;

  background: #fff;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

main#carroussel figure#informacoes-perfil > img {
  min-width: 272.02px;
  height: 100%;
  max-height: 310px;
  border-radius: 10px;
  object-fit: cover;
}

main#carroussel figcaption#descricao-perfil {
  margin: 2% 3.5% 0;
  text-overflow: ellipsis;
  max-width: 100%;
}

main#carroussel figcaption#descricao-perfil h2{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main#carroussel figcaption#descricao-perfil p {
  font-weight: 400;
  font-size: 15px;
  max-height: 144px;
  line-height: 24px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

main#carroussel figcaption#descricao-perfil p:first-of-type {
  display: flex;
  margin-bottom: 8px;
}

main#carroussel figcaption#descricao-perfil span:nth-child(1),
main#carroussel .outras-pessoas span:first-of-type {
  color: var(--vermelho-principal);
  font-weight: 900;
  display: inline-block;
  margin: 0 5px;
  font-size: 22px;
}

main#carroussel .botoes {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

#informacoes-perfil button,
.padrao .botoes button {
  border: none;
  background-repeat: no-repeat;
  border-radius: 46px;
  width: 46px;
  height: 46px;
  background-position: center;
  background-size: 55%;
}

#carroussel button.dislike,
.padrao button.dislike{
  background-image: url(./../images/cross-ico.svg);
  background-color: #b42937;
  margin-right: 20px;
}

#carroussel button.like,
.padrao button.like {
  background-image: url(./../images/like-ico.svg);
  background-color: #5ccb5f;
}

/*Estilização da div com as demais pessoas*/
.outras-pessoas {
  width: 100%;
  margin: 25px auto;
  height: max-content;
  display: grid;
  background: none;
  grid-template-columns: repeat(auto-fit, 270px);
  padding: 15px 0 0;
  justify-items: end;
  box-sizing: border-box;
  row-gap: 25px;
  column-gap: 1vmax;
}

.outras-pessoas .outro-perfil {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    padding: 0 15px;
    max-width: 270px;
    min-width: 240px;
    flex-direction: column;
    width: 100%;
    height: 416px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.outras-pessoas .outro-perfil img {
  width: 100%;
  height: 252.99px;
  margin: 21px auto;
  border-radius: 10px;
  object-fit: cover;
}

.outras-pessoas .outro-perfil .textual{
    width: 223.58px;
    margin: 0 auto;
}

.outras-pessoas button.conversar{
    background: url(./../images/conversar-icon.svg);
    padding: 0;
    width: 25px;
    height: 22.5px;
    border: none;
}

.outro-perfil a{
  margin: auto;
}