body {
  background: linear-gradient(
      180deg,
      #fd003b 0%,
      rgba(253, 0, 59, 0.68) 74.79%,
      rgba(253, 0, 59, 0.54) 93.02%,
      rgba(253, 0, 59, 0.5) 100%
    )
    no-repeat;
  object-fit: contain;
}

#enter-box {
  margin-bottom: 3%;
  width: 58.75em;
  display: grid;
  padding: 0;
  grid-template-columns: 47% 53%;
}

#enter-box .left-side,
#enter-box .right-side {
  display: flex;
  padding: 2.5em;
  box-sizing: border-box;
}

#enter-box .left-side > div {
  width: 100%;
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.81);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

#enter-box .left-side img{
  width: 20%;
  margin: 6% auto 2%;
  filter: brightness(10);
  background-blend-mode: hard-light;
}

#enter-box .left-side h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  width: 100%;

  text-align: center;
  color: #ffffff;
}

#enter-box .left-side ul {
  list-style: none;
  color: #fff;
  margin: 2% 5%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-indent: 12%;
  font-size: 1.15em;
}

#enter-box .left-side li{
  background: url(./../images/check.svg) no-repeat left center;
}

/*Lado direito*/
#enter-box .right-side {
  background-color: rgba(255, 88, 129, 0.25);
  flex-direction: column;
}

#enter-box .right-side input:not([type="checkbox"]) {
  width: 100%;
  height: 4em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  background: none;
  box-sizing: border-box;
  padding: 10px;
  margin: 0.7em 0;
}

#enter-box .right-side > img {
  width: 30%;
  margin: 0 auto;
}

#enter-box .right-side h1 {
  margin: 0 auto;
  font-size: 2em;
}

#enter-box .right-side h1 > span {
  color: var(--vermelho-principal);
}

#enter-box .right-side > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  margin: 0.5em 0;
}

#enter-box .right-side > div > span {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}

#enter-box .right-side > div > a {
  margin: 0;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  font-size: 1em;
}

#enter-box .right-side input[type="checkbox"],
#enter-box .right-side input[type="checkbox"]:checked {
  appearance: none;
  cursor: pointer;
  width: 1.4em;
  margin-right: 10px;
  height: 1.4em;
  background: none;

  border: 0.02em solid #000;
  border-radius: 0.4em;
}

#enter-box .right-side input[type="checkbox"] {
  background: url(./../images/confirm.svg) no-repeat center;
  background-size: 80%;
}

#enter-box .right-side button,
#enter-box .right-side > a {
  width: 100%;
  height: 3.6em;
  border-radius: 0.5em;
  border: none;
  background: none;

  font-size: 0.95em;
  text-transform: uppercase;
  font-family: "Raleway";
  letter-spacing: 0.2em;
  font-weight: 700;
}

#enter-box .right-side a:first-of-type > button {
  background-color: var(--vermelho-principal);
  color: #fff;
}

#enter-box .right-side > a:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--vermelho-principal);
  color: var(--vermelho-principal);
}

#enter-box .footer {
  height: 100%;
}

footer p{
  height: max-content;
}