@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --vermelho-principal: #fc003b;
  --bg-color: #292929;
  --color-white: #fff;
  --color-black: #000;
  --status-on: #16c607;
  --status-off: #aaaaaa;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
button{cursor: pointer;}

body {
  height: 100vh;
  display: grid;

  background-color: var(--bg-color);
  background-image: url(../images/conceito-de-aplicativo-de-namoro-na-internet-coracao-de-simbolo-de-relacionamento-3d-baixo-poli-paisagem-urbana-encontro-de-amor-em-redes-sociais-para-encontrar-servico-de-casal-ilustracao-em-vetor-site-men\ 1.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

/*Contâiner do header*/
header.header-content{
  display: grid;
  grid-template-columns: auto max-content;
  padding: 1.28em 2.5em;
  justify-content: space-between;
}
.header-logo {
  width: 12.10em;
  height: 2.4em;
}
.nav-btn {
  display: grid;
  grid-template-columns: auto auto auto;
}

.nav-btn button {
  width: 11em;
  height: 2.6em ;
  border-radius: .6em;

  font-style: normal;
  font-size: 1em;
  font-weight: 500;
}
/*Botão criar conta*/
.nav-btn a:first-of-type > button {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  margin-right: 0.9375em;
}

/*Botão entrar*/
.nav-btn a > button {
  background-color: #fff;
  border: none;
  color: #000;
}

.lang-selector {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  max-height: 2.53em;
}

.lang-selector img {
  height: 1.5625em;
}

/*Caixa de formulário*/
#enter-box {
  display: flex;
  flex-direction: column;
  padding: 1.25em 2.5em;
  width: 35.9375em;
  height: 34.775em;
  background: #fff;
  border-radius: .75em;
  margin: auto;
  box-sizing: border-box;
}

#enter-box h2 {
  position: relative;
  width: max-content;
  height: 2em;
  margin: 0 auto;
  margin-top: 0.4em;

  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6em;
}

#enter-box p {
  position: relative;
  text-align: justify;
  margin: 1.6em 0 1.1em;
}

/*Para as classes de continuar login*/
.methods-continue {
  position: relative;
  height: 10.7em;
}
.continue {
  width: 90%;
  height: 4.1em;
  display: block;
  margin: auto;
  margin-top: 1.6em;
  border-radius: 8px;
  border: solid 1px var(--vermelho-principal);

  text-align: center;
  line-height: 4.1em;
  font-weight: 500;
  font-size: .9em;
  letter-spacing: 5px;
}
.google-continue {
  background: url(../images/Logo\ google.png) no-repeat center left 1.6em;
}
.facebook-continue {
  background: url(../images/Logo\ facebook.png) no-repeat center left 1.8em;
}

#enter-box p:nth-child(3n-2) {
  margin: 1.9em auto -1em;
  font-size: 1.1em;
  font-weight: 400;
}

/*Para Botão cadastrar-se*/
.btn-register {
  background-color: var(--vermelho-principal);
  border: none;
  margin: .6em auto .1em;

  font-weight: 500;
  color: #fff;
  font-size: .96em;
  letter-spacing: 0.2em;
  line-height: 3em;
  height: 3em;
}

#enter-box a {
  color: var(--vermelho-principal);
  text-align: center;
  margin-top: 1em;

  font-weight: 500;
  font-size: 1.12em;
}

/*Mensagens por baixo da caixinha*/
.messages {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8.7em;
}

.messages h3 {
  color: #fff;
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 2.8em;
  line-height: 3em;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.footer {
  height: 180px;
  width: 100%;
  background: #fd003b no-repeat;
  box-sizing: border-box;
  padding: 1.8em;
  display: flex;
}

.img-links div {
  width: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul.footer-links {
  position: sticky;
  width: 70%;
  margin: auto;
  max-height: 100%;
  display: grid;
  grid-template-columns: auto auto max-content;
  grid-row: 2;
  grid-column: 3;
  gap: 2.1875em  1.375em;
  box-sizing: border-box;
}
ul .item-footer {
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
ul .item-footer a {
  text-decoration: none;
}
ul .item-footer a:visited {
  color: #fff;
  text-decoration: none;
}
footer p {
  display: block;
  width: 100%;
  height: 31px;
  background: #ffffff;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  text-align: center;

  color: var(--color-black);
}

/*O scrollbar*/
textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  border-radius: 15px;
}
textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: none;
}
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 133, 0.76);
  border-radius: 15px;
  border: 0.7px solid rgba(0, 0, 0, 0.336);
}

/*Para links*/
a:visited {
  color: currentColor;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

footer{
  display: flex;
  flex-direction: column;
  bottom: 0;
  background: #000;
}

footer>p{
  height: 31px;
  background: #fff;
  bottom: 0;
}