@import url(./login.css);

body {
  height: 100%;
  width: 100%;

  display: flex;

  background-image: url(../images/hearth-bg-right.svg);
  background-size: auto;
  background-position: right center;
}

#menu-esquerdo {
  height: 100%;
  width: max-content;
  position: fixed;
  display: block;
  overflow-y: scroll;
  overflow-x: visible;
}

#menu-esquerdo::-webkit-scrollbar {
  appearance: none;
  width: 8px;
}
#menu-esquerdo::-webkit-scrollbar-thumb:hover {
  background-color: rgba(88, 88, 88, 0.61);
  border-radius: 10px;
}
#menu-esquerdo::-webkit-scrollbar-track {
  background: none;
}

#menu-esquerdo ~ main,
#menu-esquerdo ~ div {
  margin-top: 30px;
  margin-left: 490px;
}

/*menu flutuante a direita*/
#div-left {
  width: 410px;
  height: max-content;
  top: 0px;
  margin: 30px 20px 0 50px;
  bottom: 30px;
  background: none;
  position: relative;
}

/*Barra vermelha com informações do usuário*/
#user-information,
#friend-information {
  width: 410px;
  height: 101px;
  background: var(--vermelho-principal);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  color: var(--color-white);
}

#user-information figure,
#friend-information figure {
  display: flex;
}

#user-information figure #img-perfil,
#mensagens #friend-information figure #img-perfil,
#mensagens .list-peoples object {
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: auto 10px auto 25px;
  background-color: rgba(51, 51, 51, 0.3);
  text-align: center;
  font-size: 11px;
  line-height: 84px;
  overflow: hidden;
  object-fit: cover;
}

#user-information figcaption,
#friend-information figcaption {
  height: 75px;
  margin: auto 0;
}

#user-information figcaption > .status,
#friend-information figcaption > .friend-status {
  background-color: var(--status-on);
  width: 21px;
  height: 21px;
  border-radius: 15px;
  position: absolute;
  left: 80px;
  top: 70px;
  transition: all 600ms;
}

#user-information h2 {
  font-weight: 600;
  font-size: 18px;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#user-information a {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
}

#user-information > img {
  width: 28px;
  height: 28px;
  margin: 10px 0;
  position: absolute;
  left: 370px;
}

/*Lista de opções branca*/
#menu-left {
  display: flex;
  flex-direction: column;
  height: 643px;
  justify-content: space-evenly;
  background-color: var(--color-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#menu-left li {
  box-sizing: border-box;
  height: 58.45px;
  line-height: 58.45px;
  padding: 0;
  text-indent: 90px;
  list-style-type: none;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: 40px center;
  transition: all ease-in 250ms;

  font-weight: 400;
  font-size: 20px;
  color: #333;
}
.pagina-selecionada {
  background: #f5f5f5;
  background-image: inherit;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 40px center;
}
#menu-left li:hover {
  background-position: 60px center;
  text-indent: 110px;
}
/*Aplicando as imagens de fundo das opcões da lista*/
#menu-left li:nth-of-type(1) {
  background-image: url(../images/Icon.svg);
}
#menu-left li:nth-of-type(2) {
  background-image: url(../images/Vector-1.svg);
}
#menu-left li:nth-of-type(3) {
  background-image: url(../images/Icon-4.svg);
}
#menu-left li:nth-of-type(4) {
  background-image: url(../images/Vector-2.svg);
}
#menu-left li:nth-of-type(5) {
  background-image: url(../images/Icon-2.svg);
}
#menu-left li:nth-of-type(6) {
  background-image: url(../images/Icon-1.svg);
}
#menu-left li:nth-of-type(7) {
  background-image: url(../images/Icon-3.svg);
}
#menu-left li:nth-of-type(8) {
  background-image: url(../images/Vector.svg);
}
#menu-left li:nth-of-type(9) {
  background-image: url(../images/Icon-5.svg);
}
#menu-left li:nth-of-type(10) {
  background-image: url(../images/Icon-6.svg);
}
#menu-left li:nth-of-type(11) {
  background-image: url(../images/Vector\ 15.svg);
}

#menu-left a {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

#online-now {
  position: relative;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
#online-now .changing-status {
  display: none;
  position: absolute;
  margin-top: 45px;
  padding: 16px 0;
  left: 185px;
  width: 246px;
  box-sizing: border-box;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  text-indent: 0;
  background-color: white;
  z-index: 3;
}

#online-now input[type="radio"] {
  background-color: #333333;
  width: 100%;
  height: 100%;
  display: none;
}

#online-now:hover .changing-status {
  display: block;
}

.this-status {
  height: max-content;
  display: flex;
}

.this-status label {
  display: inline-block;
  height: 37px;
  text-indent: 16px;
  width: 100%;

  font-size: 16px;
  line-height: 37px;
  font-weight: 400;
  color: black;
}

/*Menu oculto para o status*/
.this-status input:checked + label {
  background-image: url(../images/confirm.svg);
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: 18px;
  transition: all 200ms;
}

.this-status label:hover {
  background-color: rgba(252, 0, 59, 0.42);
}

/*Pessoas na região*/
#peoples-left {
  margin-top: 20px;
  height: 223px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#peoples-left h4 {
  font-weight: 400;
  text-align: justify;
  font-size: 20px;
  background: url(../images/right-arrow.svg) no-repeat center right 145px;
}

#peoples-left .people-organizer {
  display: flex;
  justify-content: space-between;
}

#peoples-left img {
  width: 120px;
  height: 135px;
}

/*Layout para o conteúdo da direita*/
#content-right {
  width: 690px;
  height: 1040px;
  margin-top: 30px;
  background-color: var(--color-white);
  box-sizing: border-box;
  padding: 20px 95px;
}

#content-right .principal-content {
  width: 480px;
  margin: 0 auto;
}

#container-elements {
  display: flex;
  height: 720px;
  flex-direction: column;
  justify-content: space-around;
}

#content-right .principal-content label {
  margin: 17px 0 6px;
  font-size: 18px;
  display: block;
}

#content-right .principal-content input:not([type="range"]),
#content-right .principal-content select {
  box-sizing: border-box;
  min-width: 100%;
  height: 56px;
  padding: 0 15px;

  background: rgba(255, 255, 255, 0.1);
  border: 0.901502px solid #000000;
  border-radius: 7.21202px;

  font-weight: 400;
  font-size: 19px;
  line-height: 56px;
  color: rgba(0, 0, 0);
}

#content-right .principal-content select {
  appearance: none;
  background: url(../images/arrow-down.svg) no-repeat center right 15px;
}

.content-header {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 31.76px auto;
}

.content-header > img {
  width: 35.33px;
  height: 39.75px;
  margin: auto;
}

.content-header > h1 {
  font-weight: 500;
  font-size: 32px;
  margin-top: 15px;
  letter-spacing: 5px;
}

.progress-next {
  display: flex;
  width: 480px;
  height: max-content;
  justify-content: space-between;
  margin-top: 55px;
}

.principal-content .progress-bar-content {
  padding: 0;
  margin: auto 0;
  height: 24px;
  width: 436px;
  background: rgba(0, 0, 0, 0.48);
  border-radius: 15px;
  overflow: auto;
}

.principal-content .progress-bar {
  background-color: var(--vermelho-principal);
  height: 24px;
  width: 0%;
  display: flex;
  border-radius: 15px;
  overflow: visible;
}

.principal-content .progress-bar span.progress-val {
  display: flex;
  float: right;
  line-height: 24px;
  margin: 0 5px 0 auto;
  color: var(--color-white);
}

.principal-content .next-page-about {
  width: 33px;
  height: 32px;

  background: rgba(0, 0, 0, 0.11);
  border: 1px solid #fc003b;
  border-radius: 10px;

  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: var(--vermelho-principal);
}

/*Mexendo em 'educacao-e-cultura.html*/
.principal-content textarea {
  box-sizing: border-box;
  width: 480px;
  height: 170px;
  padding: 13px 17px;
  overflow: auto;

  text-align: justify;
  resize: none;
  font-size: 16px;

  background: rgba(255, 255, 255, 0.1);
  border: 0.901502px solid #000000;
  border-radius: 7.21202px;
}

/*Documento chamada.html*/
#chamada-video {
  width: 690px;
  height: 964px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chamada-video video {
  width: 690px;
  height: 964px;
  position: absolute;
  object-fit: cover;
}

#chamada-video .legenda-chamada {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  z-index: 1;

  color: #fff;
  line-height: 57px;
  font-size: 32px;
  font-weight: 400;

  background: rgba(0, 0, 0, 0.5);
}

#chamada-video .legenda-chamada span {
  margin: 0 auto;
}

#chamada-video .legenda-chamada button {
  width: 60px;
  height: 57px;
  margin: auto;
  border: none;
  background: none;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  position: absolute;
}

#chamada-video .comandos-chamada {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 34px;
}

#chamada-video .comandos-chamada button,
#chamada-video .comandos-chamada #microfone {
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto 0;
}

#chamada-video #microfone {
  appearance: none;
  background: url(../images/mic-icon.svg) no-repeat center #fff;
}

#chamada-video #microfone:checked {
  background-image: url(../images/microfone-off.svg);
}

#chamada-video #desligar {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  background: url(../images/call-icon.svg) no-repeat center #b42937;
}

#chamada-video #trocar-camera {
  background: url(../images/camera-icon.svg) no-repeat center #fff;
}

/*Estilizando o arquivo 'mensagens.html'
*Para a lista de pessoas*/
main#mensagens {
  display: flex;
}

main#mensagens .peoples-to-chat {
  width: 380px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 964px;
  box-sizing: border-box;
  overflow: hidden;
}

#mensagens .peoples-to-chat h2 {
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 100px;
  text-align: center;
}

#mensagens .list-peoples {
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
}

#mensagens .list-peoples::-webkit-scrollbar,
#mensagens #sended::-webkit-scrollbar {
  background: none;
  width: 10px;
}

#mensagens .list-peoples::-webkit-scrollbar-thumb,
#mensagens #sended::-webkit-scrollbar-thumb {
  background-color: #b1aeae00;
  border-radius: 10px;
}

#mensagens .list-peoples::-webkit-scrollbar-thumb:hover,
#mensagens #sended::-webkit-scrollbar-thumb:hover {
  background-color: #b1aeae;
  transition: all ease-in-out 300ms;
}

#mensagens .gradient {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

#mensagens .list-peoples .person {
  display: flex;
  height: 91px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}

#mensagens .list-peoples .person-selected {
  background-color: rgba(252, 0, 59, 0.12);
}

#mensagens .list-peoples .person object {
  margin-left: 0px;
}

#mensagens .list-peoples .person h3 {
  font-weight: 400;
  width: 250px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mensagens .list-peoples p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.4);
  white-space: nowrap;
  width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Para o lado do chat corrente*/
main#mensagens .chat {
  width: 567px;
  height: 964px;

  background-color: #e2dfdf;
}

#mensagens #friend-information {
  width: 100%;
  display: flex;
}

#mensagens .friend-status {
  margin-left: 870px;
  margin-top: 30px;
}

#mensagens #friend-information h2 {
  line-height: 75px;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  white-space: nowrap;
}

#mensagens .botoes-top {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: auto 0 auto auto;
  position: relative;
}

#mensagens .botoes-top button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

#mensagens .botoes-top .video-call {
  background-image: url(../images/video-icon.svg);
  margin-right: 5px;
}
#mensagens .botoes-top .options {
  background-image: url(../images/dots-icon.svg);
  background-size: 6px;
}

/*Para o menu de tradução oculto*/
#mensagens .options-container {
  top: 45px;
  left: -200%;
  position: absolute;
  width: 260px;
  min-height: 103px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 2;
}

#mensagens .botoes-top .options-container .translate > span {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

#mensagens .botoes-top .options-container label {
  width: 30px;
  height: 15px;
  display: block;
  background: #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}

#mensagens .botoes-top input[type="checkbox"] {
  display: none;
}

#mensagens .botoes-top .options-container .translate-on-off {
  width: 18px;
  height: 18px;
  border-radius: 16px;
  background-color: var(--vermelho-principal);
  margin-top: -2px;
  padding: 0;
  float: left;
  transition: all 600ms;
}

#mensagens .botoes-top #active-translator:checked + .translate-on-off {
  transform: translateX(100%);
}
/*Alteração do idioma*/
#mensagens .talk-now {
  width: 100%;
  padding: 0;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}

#mensagens .talk-now img:nth-child(2) {
  width: 30px;
}

#mensagens .img-1-container,
#mensagens .img-2-container {
  border: 1px solid var(--vermelho-principal);
  border-radius: 10px;
  color: #000;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 120px;
}

/*Área reservada para as mensagens já escritas e por fazer*/
#mensagens #privado {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 101px);
}

/*Mensagens já enviadas*/
#mensagens #sended {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#mensagens .the-message-container {
  margin-top: 25px;
}

#mensagens .identifier {
  width: 45%;
  height: max-content;
  display: flex;
}

#mensagens #sended object {
  width: 42px;
  height: 42px;
  background: rgba(51, 51, 51, 0.3);
  border-radius: 40px;
  margin: 8px;
  object-fit: cover;
}

#mensagens #sended .identifier > span {
  height: 100%;
  margin: auto 0 20px;
  font-size: 10px;
  font-weight: 500;
}
#mensagens #sended .identifier > span > span {
  color: var(--vermelho-principal);
  font-size: 32px;
  background: var(--vermelho-principal);
  border-radius: 4px;
  display: inline-block;
  height: 4px;
  width: 4px;
  margin: auto 2px 2px;
}

#mensagens .text-container {
  background: #f4f4f4;
  max-width: 60%;
  min-height: 30px;
  height: max-content;
  margin-left: 25px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

#mensagens .text-container .writed-message {
  padding: 12px;
  overflow: hidden;
  max-height: max-content;
  word-break: break-word;
}

#mensagens .text-container .blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#mensagens .interaction {
  margin: 10px;
  background: #fff;
  border: 5px;
  padding: 7px 6px;
}

#mensagens .interaction-info {
  display: grid;
  width: 100%;
  margin: 10px 0;
  grid-template-columns: max-content auto;
  font-size: 14px;
  text-align: justify;
}

#mensagens .interaction-info img {
  margin: auto 15px;
  height: 50%;
}

#mensagens .text-container .confirm {
  width: 100%;
  height: 34px;
  border: none;
  background: var(--vermelho-principal);
  color: #fff;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 400;
}

/* Para a mensagem enviada pelo usuário */
#mensagens #privado .user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

#mensagens #privado .user .identifier {
  width: max-content;
  margin-bottom: 5px;
  height: max-content;
  padding: 0;
  display: inline;
}

#mensagens #privado .user .text-container {
  background: rgba(255, 255, 255, 0.76);
}

#mensagens #create-message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 10px auto 20px;
}

#mensagens #privado .add-media {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  border: none;
  text-align: center;
  background-color: var(--vermelho-principal);

  color: #fff;
  font-size: 36px;
}

#mensagens .message-text-container {
  width: 479px;
  min-height: 47px;
  height: 47px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#mensagens #message-text {
  width: calc(100%);
  height: 47px;
  margin: 0px 15px;
  resize: none;
  border: none;
  text-align: justify;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 47px;
}

#mensagens #message-text:focus {
  outline: none;
}

#mensagens .send-message {
  width: 47px;
  height: 47px;
  margin-right: 15px;
  border: none;
  background: url(../images/send-message-icon.svg) no-repeat center;
}

/* DOCUMENTO curtidas.html */
#curtidas {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  width: 860px;
  min-height: 1001px;
  padding: 32px 29px;
}

#curtidas ul.list {
  width: 100%;
  display: grid;
  justify-content: space-between;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, 186px);
  box-sizing: content-box;
}

#curtidas .list li {
  display: block;
  flex-direction: column;
  width: 186px;
  height: 211px;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

#curtidas .list li img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#curtidas .list section {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: block;
}

#curtidas .list article {
  display: block;
  flex-direction: column;
  margin: 72% 15px;
}

#mensagens article > div {
  display: flex;
  flex-direction: column;
}

#curtidas .list ul {
  display: grid;
  grid-auto-flow: column;
}

#curtidas .list .status-div {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  background-color: var(--status-on);
  display: inline-flex;
  margin-bottom: 5px;
}

#curtidas .list span {
  display: inline-block;
  max-width: 120px;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#curtidas .list ul {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

#curtidas .list article li {
  width: 48.92px;
  height: 13.94px;

  background: rgba(0, 0, 0, 0.52);
  border-radius: 6.69421px;

  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 13.94px;
}

#curtidas .list .botoes {
  position: relative;
  display: none;
  margin: auto;
  width: max-content;
  justify-content: space-between;
}

/* Ao passar em algum item da lista */
#curtidas .list li:hover .status-div,
#curtidas .list li:hover ul {
  display: none;
}

#curtidas .list li:hover section{
  display: flex;
  flex-direction: column;
}

#curtidas .list li:hover article {
  display: block;
  justify-content: center;
  margin: 0;
  align-items: center;
}

#curtidas .list li:hover span {
  text-align: center;
  display: block;
  margin: 10px auto 0;
  max-width: 170px;
  transition: all 400ms;
}

#curtidas .list li:hover .botoes {
  position: relative;
  display: flex;
  bottom: 0;
  margin: auto auto 15px;
}
