@import url(./login.css);

body{
    height: 100%;
    width: 100%;

    display: flex;

    background-image: url(../images/hearth-bg-right.svg);
    background-size: auto;
    background-position: right center;
}

/*menu flutuante a direita*/
#div-left{
    width: 410px;
    margin: 30px 40px 0 50px;
    background: none;
}

/*Barra vermelha com informações do usuário*/
#user-information{
    width: 410px;
    height: 101px;
    background: var(--vermelho-principal);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: var(--color-white);
}

#user-information figure{
    display: flex;
}

#user-information figure #img-perfil{
    width: 86px;
    height: 84px;
    border-radius: 60px;
    margin: auto 30px;
    background-color: #464646;
    text-align: center;
    font-size: 11px;
    line-height: 84px;
    background-image: url(../temp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#user-information figcaption{
    height: 86px;
    margin: auto 0;
}

#user-information figcaption>.status{
    background-color: var(--status-on);
    width: 21px;
    height: 21px;
    border-radius: 15px;
    position: absolute;
    left: 140px;
    top: 100px;
}

#user-information h2{
    font-weight: 600;
    font-size: 18px;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#user-information a{
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: underline;
}

#user-information>img{
    width: 28px;
    height: 28px;
    float: right;
    margin: 30px 0;
    position: absolute;
    top: 10px;
    left: 410px;
}


/*Lista de opções branca*/
#menu-left{
    display: flex;
    flex-direction: column;
    height: 643px;
    justify-content: space-evenly;
    background-color: var(--color-white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

#menu-left li{
    box-sizing: border-box;
    height: 58.45px;
    line-height: 58.45px;
    padding: 0;
    text-indent: 90px;
    list-style-type: none;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: 40px center;
    transition: all ease-in 250ms;

    font-weight: 400;
    font-size: 20px;
    color: #333;
}

#menu-left li:hover{
    background-position: 60px center;
    text-indent: 110px;
}

#menu-left a{
    display: flex;
    min-height: 100%;
    min-width: 100%;
}


/*Pessoas na região*/
#peoples-left{
    margin-top: 20px;
    height: 223px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#peoples-left h4{
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
    background: url(../images/right-arrow.svg) no-repeat center right 145px;
}

#peoples-left .people-organizer{
    display: flex;
    justify-content: space-between;
}

#peoples-left img{
    width: 120px;
    height: 135px;
}

/*Layout para o conteúdo da direita*/
#content-right{
    width: 690px;
    height: 1040px;
    margin-top: 30px;
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: 20px 95px;
}

#content-right .principal-content{
    width: 480px;
    margin: 0 auto;
}

#container-elements{
    display: flex;
    height: 720px;
    flex-direction: column;
    justify-content: space-around;
}

#content-right .principal-content label{
    margin: 17px 0 6px;
    font-size: 18px;
    display: block;
}


#content-right .principal-content input:not([type="range"]), 
#content-right .principal-content select{
    box-sizing: border-box;
    min-width: 100%;
    height: 56px;
    padding: 0 15px;

    background: rgba(255, 255, 255, 0.1);
    border: 0.901502px solid #000000;
    border-radius: 7.21202px;

    font-weight: 400;
    font-size: 19px;
    line-height: 56px;
    color: rgba(0, 0, 0);
}

#content-right .principal-content select{
    appearance: none;
    background: url(../images/arrow-down.svg) no-repeat center right 15px;
}

.content-header{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 31.76px auto;
}

.content-header>img{
    width: 35.33px;
    height: 39.75px;
    margin: auto;
}

.content-header>h1{
    font-weight: 500;
    font-size: 32px;
    margin-top: 15px;
    letter-spacing: 5px;
}

.progress-next{
    display: flex;
    width: 480px;
    height: max-content;
    justify-content: space-between;
    margin-top: 55px;
}

.principal-content .progress-bar-content{
    padding: 0;
    margin: auto 0;
    height: 24px;
    width: 436px;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 15px;
    overflow: auto;
}

.principal-content .progress-bar{
    background-color: var(--vermelho-principal);
    height: 24px;
    width: 0%;
    display: flex;
    border-radius: 15px;
    overflow: visible;
}

.principal-content .progress-bar span.progress-val{
    display: flex;
    float: right;
    line-height: 24px;
    margin: 0 5px 0 auto;
    color: var(--color-white);
}

.principal-content .next-page-about{
    width: 33px;
    height: 32px;

    background: rgba(0, 0, 0, 0.11);
    border: 1px solid #FC003B;
    border-radius: 10px;
    
    font-weight: 400;   
    font-size: 30px;
    line-height: 32px;
    color: var(--vermelho-principal);
}

/*Mexendo em 'educacao-e-cultura.html*/
.principal-content textarea{
    box-sizing: border-box;
    width: 480px;
    height: 170px;
    padding: 13px 17px;
    overflow: auto;
    
    text-align: justify;
    resize: none;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.1);
    border: 0.901502px solid #000000;
    border-radius: 7.21202px;
}