/*Telas de altura menor*/
@media (min-height: 760px) {

  #user-information figure #img-perfil,
  #mensagens #friend-information figure #img-perfil,
  #mensagens .list-peoples object {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-width: 80px;
    margin: auto 6% auto 20px;
    font-size: 20px;
  }

  #menu-left li {
    font-size: 20px;
    font-weight: 400;
  }

  #user-information figcaption > .status,
  #friend-information figcaption > .friend-status {
    width: 21px;
    height: 21px;
    left: 30%;
    top: 73%;
  }

  /* #friend-information figcaption > .friend-status {
    left: 0;
    right: auto;
  } */

  #user-information h2 {
    font-size: 15px;
  }

  .this-status label {
    font-size: 16px;
  }

  #peoples-left {
    margin-top: 20px;
    height: 223px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #peoples-left h4{
    width: 107%;
    margin: 10px 0 0;
    font-size: 18px;
  }

  #peoples-left .people-organizer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  #peoples-left img {
    object-fit: cover;
    width: 94%;
    height: 125px;
  }
}

@media (min-width: 1200px) {
}
