/*Telas de altura menor*/
@media (min-height: 760px) {
  body,
  #menu-esquerdo {
    height: calc(100vh - 10px);
  }

  #user-information figure #img-perfil,
  #mensagens #friend-information figure #img-perfil,
  #mensagens .list-peoples object {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-width: 80px;
    border-radius: 7em;
    margin: auto 6% auto 20px;
    background-color: rgba(51, 51, 51, 0.3);
    font-size: 20px;
    object-fit: cover;
  }

  #menu-left li {
    font-size: 20px;
    font-weight: 400;
  }

  #user-information,
  #friend-information {
    width: 100%;
    max-height: 111px;
    padding: 2% 0;
    background: var(--vermelho-principal);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: var(--color-white);
  }

  #user-information figcaption > .status,
  #friend-information figcaption > .friend-status {
    background-color: var(--status-on);
    width: 21px;
    height: 21px;
    border-radius: 15px;
    position: absolute;
    left: 30%;
    top: 73%;
    transition: all 600ms;
  }

  #friend-information figcaption > .friend-status {
    left: 0;
    right: auto;
  }

  #user-information h2 {
    font-weight: 600;
    font-size: 15px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .this-status label {
    font-size: 16px;
  }

  #peoples-left {
    margin-top: 20px;
    height: 223px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #peoples-left h4{
    width: 107%;
    margin: 10px 0 0;
    font-size: 18px;
  }

  #peoples-left .people-organizer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  #peoples-left img {
    object-fit: cover;
    width: 94%;
    height: 125px;
  }
}

@media (min-width: 1200px) {
}
