/*Telas de altura menor*/
@media (min-height: 760px) {

  #user-information figure #img-perfil,
  #mensagens #friend-information figure #img-perfil,
  #mensagens .list-peoples object {
    margin: auto 6% auto 20px;
    font-size: 11.5px;
  }

  #menu-left li {
    font-size: 20px;
    font-weight: 400;
  }

  #user-information h2 {
    font-size: 15px;
  }

  .this-status label {
    font-size: 16px;
  }

  #peoples-left {
    margin-top: 20px;
    height: 223px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #peoples-left h4{
    width: 107%;
    margin: 10px 0 0;
    font-size: 18px;
  }

  #peoples-left .people-organizer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

  #peoples-left img {
    object-fit: cover;
    width: 94%;
    height: 125px;
  }
}

@media (min-width: 1200px) {
}

/*Especificas*/
@media (max-height: 720px){
  main#home{
    width: 60%;
  }
  main#home .home-bar{
    padding: 0 100px;
  }
  main#home .home-nav button{
    font-size: 50px;
    width: 90px;
  }
  main #person-name{
    font-size: 24px;
  }

  main .talk-now{
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }

  main ul#tag-area {
    gap: 1px;
  }

  main #tag-area li {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 90px;
  }

  main #subtitle {
    font-size: 14px;
  }

  main #home-progress-content {
    margin: 20px auto;
    height: 14px;
  }

  main #home-progress-bar {
    height: 14px;
  }

  main #home-progress-val {
    line-height: 14px;
    margin: 0 5px 0 auto;
    font-size: 13px;
  }

  #home-btns button {
    width: 75px;
    height: 75px;
    font-size: 20px;
  }
}