/*Extra dispositivos pequenos(phones, 600px para baixo)*/
@media only screen and (max-width: 600px) {
    body{
        padding: 0 !important;
        background-size: contain !important;
        display: flex !important;
    }

    *::-webkit-scrollbar{
        display: none !important;
    }

    input:-webkit-autofill {
        box-shadow: 0 0 0 30px #fff inset;
    }

    #menu-esquerdo{
        display: none !important;
    }

    #main-container{
        margin: auto !important;
        max-width: max-content !important;
        padding: 0 !important;
        box-sizing: border-box !important;
        position: relative;
        max-height: max-content !important;
        height: max-content;
    }

    #content-right{
        margin: 0 !important;
        width: 100vw !important;
        position: relative !important;
        max-width: 460px !important;
        max-height: max-content !important;
        padding: 5px 4vw !important;
        box-sizing: border-box !important;
    }

    #sobre-usuario #content-right form{
        max-width: 100vw !important;
        box-sizing: border-box !important;
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
        min-height: 400px;
        height: max-content !important;
    }

    /*
    **********************************************
    ***    Arquivos do diretório /about-user   ***
    **********************************************
    */
    #sobre-usuario .content-header{
        width:  100% !important;
    }
    #sobre-usuario input,
    #sobre-usuario select{
        width: 100% !important;
        height: 35px !important;
        background-size: 11px !important;
        padding: 0 8px !important;
        background-position: center right 8px !important;
        outline: none !important;
    }

    #sobre-usuario textarea{
        padding: 5px 8px !important;
    }

    #sobre-usuario input,
    #sobre-usuario select,
    #sobre-usuario label,
    #sobre-usuario textarea{
        font-size: 9pt !important;
    }

    #sobre-usuario label{
        margin: 9px 0 1px !important;
    }

    #sobre-usuario input,
    #sobre-usuario select{
        height: 33px !important;
    }

    #sobre-usuario header{
        width: 100% !important;
        height: max-content !important;
    }

    #sobre-usuario header img{
        width: 28px !important;
        margin: 15px auto 10px;
    }

    #sobre-usuario header h1{
        font-size: 11pt !important;
        text-align: center;
    }

    #sobre-usuario form.principal-content{
        width: 100%;
    }

    #sobre-usuario #container-elements{
        max-width: 100% !important;
        box-sizing: border-box;
        margin: 10px 0 18px;
    }

    #sobre-usuario .iten{
        width:  100%;
    }

    .progress-next{
        width: 100% !important;
        margin: auto 0 15px;
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: 10px;
    }

    .progress-bar-content{
        margin: auto 0 !important;
        height: 16px !important;
        width: 100% !important;
    }

    .progress-bar{
        height: 100% !important;
        font-size: 8.5pt !important;
    }

    .progress-val{
        line-height: 150% !important
    }

    .next-page-about{
        height: 22px !important;
        width: 22px !important;
        border-radius: 3px !important;
        line-height: 22px !important;
        font-size: 17pt !important;
    }

    .iten[style="margin-bottom: 24px"]{
        margin-bottom: 0px !important;
    }
}

/*Dispositivos médios(landscape tablets, 768px para cima)*/
@media only screen and (max-width: 768px) {
}

/*Dispositivos largos(laptops/desktops, 992px para cima)*/
@media only screen and (max-width: 992px) {
}

/*Extra dispositivos largos laptops e desktops de 1200px para cima*/
@media only screen and (max-width: 1200px) {
}
