/*Extra dispositivos pequenos(phones, 600px para baixo)*/
@media only screen and (max-width: 600px) {
  body {
    padding: 0 !important;
    background-size: contain !important;
    display: flex !important;
    background-size: contain !important;
    background-size: 48% !important;
  }

  *::-webkit-scrollbar {
    display: none !important;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px #fff inset;
  }

  #main-container {
    margin: auto !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    position: relative;
    max-height: 100% !important;
    max-width: 100vw !important;
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
  }
  /*
    **********************************************
    ***               Menu oculto              ***
    **********************************************
    */
  #menu-esquerdo {
    display: flex;
    position: fixed;
    min-width: 100% !important;
    max-width: 100% !important;
    z-index: 5;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(2px);
  }


  #div-left {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: max-content;
    transition: all .35s;
    margin: auto 0 0px;
  }

  #user-information {
    height: 90px;
    top: 0;
  }

  #user-information .foto-de-perfil{
    margin-right: 5px;
  }

  #user-information .foto-de-perfil img{
    width: 75px !important;
    height: 75px !important;
    border-radius: 40px !important;
  }

  #user-information figure{
    position: absolute;
    top: 55%;
    color: #000;
    width: 95%;
  }

  #user-information figcaption{
    margin: auto 0 -5px;
    max-width: 100%;
    overflow: hidden;
  }

  #user-information > img{
    margin: 5px 5px 0 auto;
  }

  #user-information .hidden-list,
  #online-now .changing-status {
    padding: 0 !important;
    width: 16em;
    color: #000;
    max-width: 180px;
    box-sizing: border-box;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    text-indent: 0;
    background-color: #fff;
    z-index: 3;
    font-size: 12px;
    overflow: hidden !important;
  }

  #menu-left {padding-top: 50px;}
  #menu-left li:hover,
  #menu-left li {
    text-indent: 65px;
    font-size: 10pt;
    background-position: 1.5em center;
  }

  #peoples-left {
    margin-top: 10px;
  }

  #peoples-left h4 {
    margin: 0;
    width: 100%;
    font-size: 11pt;
    background-position: center right 3%;
  }

  .people-organizer {
    display: none !important;
  }
  /*
    **********************************************
    ***    Arquivos do diretório /about-user   ***
    **********************************************
    */
  #mobile-header {
    width: 100%;
    display: flex;
  }

  #mobile-header > img:first-of-type {
    height: 25px;
    margin: auto 0 4px;
  }

  #mobile-header > button {
    height: 70%;
    margin: auto 0 auto auto;
    width: 30px;
    border: none;
    background: url(./../images/arrow-down-red.svg) center no-repeat;
  }

  #sobre-usuario #main-container,
  #sobre-usuario #content-right {
    max-width: 460px !important;
  }

  #content-right {
    margin: 0 !important;
    width: 100vw !important;
    position: relative !important;
    max-height: max-content !important;
    padding: 5px 4vw !important;
    box-sizing: border-box !important;
  }

  #sobre-usuario #content-right form {
    max-width: 100vw !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    min-height: 400px;
    height: max-content !important;
  }

  /*
    **********************************************
    ***    Arquivos do diretório /about-user   ***
    **********************************************
    */
  #sobre-usuario .content-header {
    width: 100% !important;
  }
  #sobre-usuario input,
  #sobre-usuario select {
    width: 100% !important;
    height: 35px !important;
    background-size: 11px !important;
    padding: 0 8px !important;
    background-position: center right 8px !important;
    outline: none !important;
  }

  #sobre-usuario textarea {
    padding: 5px 8px !important;
  }

  #sobre-usuario input,
  #sobre-usuario select,
  #sobre-usuario label,
  #sobre-usuario textarea {
    font-size: 10pt !important;
  }

  #sobre-usuario label {
    margin: 9px 0 1px !important;
  }

  #sobre-usuario input,
  #sobre-usuario select {
    height: 33px !important;
  }

  #sobre-usuario header {
    width: 100% !important;
    height: max-content !important;
  }

  #sobre-usuario header img {
    width: 28px !important;
    margin: 15px auto 10px;
  }

  #sobre-usuario header h1 {
    font-size: 13pt !important;
    text-align: center;
  }

  #sobre-usuario form.principal-content {
    width: 100%;
  }

  #sobre-usuario #container-elements {
    max-width: 100% !important;
    box-sizing: border-box;
    margin: 10px 0 25px;
  }

  #sobre-usuario .iten {
    width: 100%;
  }

  .progress-next {
    width: 100% !important;
    margin: auto 0 15px;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 10px;
  }

  .progress-bar-content {
    margin: auto 0 !important;
    height: 18px !important;
    width: 100% !important;
  }

  .progress-bar {
    height: 100% !important;
    font-size: 8.5pt !important;
  }

  .progress-val {
    line-height: 150% !important;
  }

  .next-page-about {
    height: 22px !important;
    width: 22px !important;
    border-radius: 3px !important;
    line-height: 22px !important;
    font-size: 17pt !important;
  }

  .iten[style="margin-bottom: 24px"] {
    margin-bottom: 0px !important;
  }

  /*
**********************************************
***       Página inicial index.html         ***
**********************************************
*/
  body:not(#sobre-usuario) #main-container {
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    margin: 0 !important;
    height: 100% !important;
  }

  #home {
    width: 100% !important;
    min-width: none !important;
    max-width: 100% !important;
    height: 100% !important;
    border-radius: 12px;
    padding: 3vw;
    box-sizing: border-box !important;
    grid-template-rows: max-content 1fr max-content !important;
  }

  #home object {
    top: 0;
    left: 0;
    box-sizing: border-box !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
  }

  .home-bar {
    padding: 0 !important;
    width: 100%;
    min-width: 100%;
    height: 4vh !important;
    max-height: 12px;
  }

  .home-bar li {
    max-height: 5px;
    height: 0.6vh !important;
  }

  .home-nav {
    height: 95%;
    visibility: hidden;
  }

  button#dislike,
  button#maybe,
  button#like {
    width: 17vw !important;
    max-width: 60px !important;
    height: 17vw !important;
    max-height: 60px;

    font-size: 100% !important;
    border-radius: 12vw !important;
    background-size: 50% !important;
  }

  button#retry,
  button#favorite {
    width: 12vw !important;
    max-width: 56px !important;
    height: 12vw !important;
    max-height: 56px !important;

    border-radius: 12vw !important;
  }

  .home-footer {
    margin: auto 0 !important;
    padding: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    margin: auto 0 0 !important;
  }

  .home-footer #person-name {
    font-size: 6vw !important;
  }

  .home-footer .talk-now {
    height: 3.2vh;
    font-size: 1.6vh;
    line-height: 3.5vh;
  }

  .home-footer .talk-now img {
    height: 4vw;
    max-height: 18px;
  }

  .home-footer .talk-now img.img-1 {
    height: 5.2vw;
    max-height: 24px;
  }

  .home-footer #tag-area {
    display: flex;
    column-gap: 5px;
  }

  .home-footer #tag-area li {
    width: 25vw !important;
    height: 5.8vw;
    font-size: 3.1vw !important;
    line-height: 5.8vw;
    padding: 0 3px !important;
  }

  .home-footer #subtitle {
    line-height: normal;
    font-size: 9pt !important;
  }

  #home-progress-content {
    margin: 10px 0 !important;
    height: 12px !important;
  }

  #home-progress-bar {
    height: 100% !important;
    font-size: 8pt;
    display: flex;
    justify-items: center;
  }

  #home-progress-bar span {
    line-height: 150%;
  }

  /*Modais de home*/
  dialog {
    z-index: 10;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
    border: none;
  }

  dialog div {
    width: 85vw !important;
    max-width: 360px !important;
    font-size: 9pt;
  }

  #pass-this {
    font-size: 9pt;
  }

  #modal-home-1 img {
    width: 25%;
  }
}

/*Dispositivos médios(landscape tablets, 768px para cima)*/
@media only screen and (max-width: 768px) {
}

/*Dispositivos largos(laptops/desktops, 992px para cima)*/
@media only screen and (max-width: 992px) {
}

/*Extra dispositivos largos laptops e desktops de 1200px para cima*/
@media only screen and (max-width: 1200px) {
}
