.btn {
	box-sizing: border-box;

	white-space: nowrap;
	word-wrap: nowrap;
}
/*Botão criar conta*/
.border-btn {
	&,
	&:hover,
	&:active {
		border: 1px solid #fff;

		color: #fff;

		background: none;
	}
	&:hover {
		opacity: 0.91;
	}
}

/*Botão entrar*/
.white-btn {
	&,
	&:hover,
	&:active {
		border: none;

		color: #000;

		background-color: #fff;
	}
	&:hover {
		opacity: 0.91;
	}
}
