:root {
	--vermelho-principal: #fc003b;
	--bg-color: #292929;
	--color-white: #fff;
	--color-black: #000;
	--status-user: #16c607;
	--status-on: #16c607;
}

$vermelho-principal: var(--vermelho-principal);
$bg-color: var(--bg-color);
$color-white: var(--color-white);
$color-black: var(--color-black);
$status-user: var(--status-user);
$status-on: var(--status-on);
