@charset "UTF-8";
@import url(./style.css);
main#home,
main#perfil {
  position: relative;
  display: grid;
  width: 22rem;
  box-sizing: border-box;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
  background-color: rgb(83, 82, 82);
  z-index: 2;
}

.title {
  width: max-content;
  height: 48px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15rem;
  color: #000000;
  line-height: 32px;
}

main#perfil {
  width: 100%;
}

main #main-image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.home-bar {
  width: 100%;
  height: 0.2rem;
  z-index: 2;
  padding: 0 140px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 0.3rem;
  margin-top: 0.97rem;
  flex-direction: row;
  justify-content: center;
}
.home-bar li {
  height: 100%;
  width: 100%;
  background: var(--color-white);
  border-radius: 9.76344px;
  box-shadow: 1 1 11px 11px rgba(0, 0, 0, 0.7);
}
.home-bar li.visualized {
  background: #333333;
}

.home-nav {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0.2rem;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 6;
  margin: auto;
}
.home-nav button {
  border: none;
  width: 3.7rem;
  height: 100%;
  cursor: pointer;
  margin-top: 25%;
  font-size: 1.5rem;
  color: white;
  background: none;
}

.home-footer {
  position: relative;
  padding: 0.5rem 1.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
}
.home-footer h3,
.home-footer a {
  width: max-content;
  max-width: 100%;
  word-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-footer #person-name {
  margin: 0;
  margin-bottom: 0.47rem;
  font-style: normal;
  font-weight: 300;
  font-size: 0.77rem;
  color: var(--color-white);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.home-footer .talk-now {
  display: flex;
  width: max-content;
  height: 28px;
  background-color: var(--color-white);
  padding: 0 0.42rem;
  border-radius: 15px;
  box-sizing: border-box;
  align-items: center;
  color: var(--vermelho-principal);
  font-weight: 400;
  font-size: 0.47rem;
  justify-content: space-around;
}
.home-footer .talk-now img:not(.img-1, .img-2) {
  align-self: center;
}
.home-footer .talk-now img:not(.img-1, .img-2) .img-1,
.home-footer .talk-now img:not(.img-1, .img-2) .img-2 {
  align-self: center;
}
.home-footer #tag-area {
  position: relative;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, 3.6rem);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 10px;
}
.home-footer #tag-area li {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  border-radius: 0.75rem;
  box-sizing: border-box;
  padding: 0 0.27rem;
  line-height: 2.5;
  font-size: 0.38rem;
  color: rgb(161, 161, 161);
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.26);
}
.home-footer #subtitle {
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;
  font-size: 0.555rem;
  overflow-y: scroll;
  height: max-content;
  max-height: 20vh;
}
.home-footer #home-progress-content {
  padding: 0;
  margin: 0.67rem auto;
  height: 0.57rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.48);
  border-radius: 0.3rem;
  overflow: hidden;
}
.home-footer #home-progress-content #home-progress-bar {
  background-color: var(--vermelho-principal);
  height: 100%;
  width: 0%;
  display: flex;
  border-radius: 0.3rem;
  overflow: visible;
}
.home-footer #home-progress-content #home-progress-bar #home-progress-val {
  display: flex;
  float: right;
  margin: 0 5px 0 auto;
  font-size: 0.5rem;
  color: var(--color-white);
}
.home-footer #home-btns {
  display: flex;
  justify-content: space-between;
}
.home-footer #home-btns button {
  border: none;
  background: none;
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.home-footer #home-btns #retry {
  background-image: url(./../../images/retry-ico.svg);
  background-color: #7cd0ff;
  background-size: 0.88rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: auto 0 0;
}
.home-footer #home-btns #dislike {
  background-image: url(./../../images/cross-ico.svg);
  background-color: #b42937;
  background-size: 1.25rem;
}
.home-footer #home-btns #maybe {
  color: white;
  font-weight: 400;
  font-size: 0.7rem;
}
.home-footer #home-btns #like {
  background-image: url(./../../images/like-ico.svg);
  background-color: #5ccb5f;
  background-size: 1.25rem;
}
.home-footer #home-btns #favorite {
  background-image: url(./../../images/star-ico.svg);
  background-color: #ffea79;
  background-size: 0.88rem;
  width: 1.77rem;
  height: 1.77rem;
  margin: auto 0 0;
}

/*DOCUMENTO carroussel.php*/
main#carroussel {
  margin: 0 auto;
  max-width: 1000px;
  width: 94%;
  min-height: 100%;
  height: max-content;
  background: #fff;
  padding: 32px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.375rem;
  box-sizing: border-box;
}

main#carroussel figure#informacoes-perfil {
  width: 100%;
  height: max-content;
  max-height: 340px;
  display: flex;
  padding: 15px 25px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

main#carroussel figure#informacoes-perfil > img {
  min-width: 272.02px;
  height: 100%;
  max-height: 310px;
  border-radius: 10px;
  object-fit: cover;
}

main#carroussel figcaption#descricao-perfil {
  margin: 2% 3.5% 0;
  text-overflow: ellipsis;
  max-width: 100%;
}

main#carroussel figcaption#descricao-perfil h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main#carroussel figcaption#descricao-perfil p {
  font-weight: 400;
  font-size: 15px;
  max-height: 144px;
  line-height: 24px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

main#carroussel figcaption#descricao-perfil p:first-of-type {
  display: flex;
  margin-bottom: 8px;
}

main#carroussel figcaption#descricao-perfil span:nth-child(1),
main#carroussel .outras-pessoas span:first-of-type {
  color: var(--vermelho-principal);
  font-weight: bolder;
  display: inline-block;
  margin: 0 5px;
  font-size: inherit;
}

main#carroussel .botoes {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

#informacoes-perfil button,
.padrao .botoes button {
  border: none;
  background-repeat: no-repeat;
  border-radius: 46px;
  width: 46px;
  height: 46px;
  background-position: center;
  background-size: 55%;
}

#carroussel button.dislike,
.padrao button.dislike {
  background-image: url(./../images/cross-ico.svg);
  background-color: #b42937;
  margin-right: 20px;
}

#carroussel button.like,
.padrao button.like {
  background-image: url(./../images/like-ico.svg);
  background-color: #5ccb5f;
}

/*Estilização da div com as demais pessoas*/
.outras-pessoas {
  width: 100%;
  margin: 25px auto;
  height: max-content;
  display: grid;
  background: none;
  grid-template-columns: repeat(auto-fit, 260px);
  padding: 15px 0 0;
  justify-items: end;
  box-sizing: border-box;
  row-gap: 25px;
  column-gap: 1vmax;
}

.outras-pessoas .outro-perfil {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  padding: 0 15px;
  max-width: 270px;
  min-width: 240px;
  flex-direction: column;
  width: 100%;
  height: 416px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.outras-pessoas .outro-perfil img {
  width: 100%;
  height: 252.99px;
  margin: 21px auto;
  border-radius: 10px;
  object-fit: cover;
}

.outras-pessoas .outro-perfil .textual {
  width: 223.58px;
  margin: 0 auto;
}

.outras-pessoas button.conversar {
  background: url(./../images/conversar-icon.svg);
  padding: 0;
  width: 25px;
  height: 22.5px;
  border: none;
}

.outro-perfil a {
  margin: auto;
}

/*# sourceMappingURL=home.css.map */
