@charset "UTF-8";
@media only screen and (max-width: 991.97px) {
  /* ================= index.html ================= */
  body {
    display: grid;
    box-sizing: border-box;
    background-attachment: fixed;
  }
  body {
    grid-template-rows: 4% 1fr !important;
  }
  .form-cadastro-container {
    align-items: baseline !important;
    box-sizing: border-box;
  }
  .cadastro-layout {
    margin: auto !important;
    max-width: 95vw !important;
  }
  /* ================ login.html ================ */
  .body-login.especify {
    grid-template-rows: max-content 1fr !important;
    background: url(./../../images/conceito-de-aplicativo-de-namoro-na-internet-coracao-de-simbolo-de-relacionamento-3d-baixo-poli-paisagem-urbana-encontro-de-amor-em-redes-sociais-para-encontrar-servico-de-casal-ilustracao-em-vetor-site-men\ 1.svg)
        no-repeat center,
      rgb(0, 0, 0);
    background-attachment: fixed;
    background-size: cover;
  }
  .body-login.especify #enter-box {
    height: 100%;
    border-radius: 0 !important;
  }
  .body-login.especify #enter-box form.right-side {
    width: 100%;
    border-radius: 0 !important;
    background: none;
  }
  .body-login.especify #enter-box form.right-side .logo h1 {
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem;
  }
  .body-login.especify #enter-box .campos input,
  .body-login.especify #enter-box .others-options input {
    border: 1px solid #000;
  }
  .body-login.especify #enter-box .campos input:not([type="checkbox"]),
  .body-login.especify #enter-box .others-options input:not([type="checkbox"]) {
    background: #fff;
  }
  /*
  ******************************
  ***     cadastro-1 > 4     ***
  ******************************
  */
  body:not(.especify) .header-logo {
    height: 30px;
  }
  /* body:not(.especify) {
     overflow: hidden !important;
   } */
  h1 {
    font-size: 13.5pt !important;
    margin-bottom: 0.7em !important;
  }
  .white-btn {
    display: none;
  }
  .cadastro-layout {
    width: max-content;
    max-width: 420px;
    display: flex !important;
    justify-content: center !important;
    padding: 25px !important;
  }
  .cadastro-layout input,
  .cadastro-layout select {
    border-radius: 4px !important;
  }
  .checkbox {
    font-size: 1pt !important;
  }
  .checkbox input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    background-size: 17px !important;
  }
  .checkbox label {
    margin: auto 0 !important;
    font-size: 8pt !important;
  }
  /*
  ******************************
  ***       cadastro-4       ***
  ******************************
  */
  #form-cadastro4 > div {
    margin: 0;
  }
  #form-cadastro4 label {
    margin: auto 0 !important;
  }
  /*
  ******************************
  ***       cadastro-5       ***
  ******************************
  */
  #form-cadastro5 p {
    text-align: center;
  }
  #form-cadastro5 img {
    width: 100px !important;
  }
  #form-cadastro5 .social-cad-imgs {
    justify-content: space-evenly;
    width: 90%;
    margin: 5px auto;
  }
  .add-photos-cad {
    margin: 15px 0 !important;
    width: 100% !important;
    display: grid !important;
    place-items: center center !important;
    justify-content: center !important;
  }
  #form-cadastro5 .area-drop {
    width: 90%;
    max-width: 180px;
    height: 140px;
    text-align: center;
    font-size: 9pt !important;
  }
  /*
  ******************************
  ***      cadastro-6        ***
  ******************************
  */
  #form-cadastro6 > * {
    max-width: 420px !important;
  }
  #form-cadastro6 #password-section {
    margin: auto;
  }
  #insert-password {
    width: 100% !important;
    box-sizing: border-box !important;
  }
  #form-cadastro6 > div:last-of-type {
    margin-top: auto;
    display: grid;
    row-gap: 15px;
  }
}
@media only screen and (max-width: 575.97px) {
  #menu-logon #enter-box {
    background: #fff !important;
  }
  #menu-logon #enter-box .facebook-continue,
  #menu-logon #enter-box .google-continue {
    height: 2.5rem;
  }
  #menu-logon #enter-box ._subtitle {
    font-size: 0.575rem;
  }
  #menu-logon #enter-box .continue {
    font-size: 0.55rem !important;
  }
  #menu-logon #enter-box .__span-ou,
  #menu-logon #enter-box .__a-login {
    margin: 1rem auto !important;
    font-size: 0.59rem;
  }
  .body-login.especify {
    display: flex !important;
  }
  .body-login.especify #enter-box {
    margin: auto 0;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .body-login.especify .btn-register,
  .body-login.especify .criar-conta {
    height: 2.25rem;
    font-size: 0.55rem !important;
  }
  .body-login.especify .others-options * {
    font-size: 0.5rem !important;
  }
  .body-login.especify input[type="checkbox"],
  .body-login.especify input[type="checkbox"]:checked {
    width: 0.75rem !important;
    height: 0.75rem !important;
  }
  .cadastro-layout form label:not(.the-genre) {
    font-size: 0.625rem;
  }
  .cadastro-layout form input:not([type="checkbox"], .pass-camp) {
    font-size: 0.625rem;
    padding: 0.12rem 0.57rem;
  }
}
/*Dispositivos médios(landscape tablets, 768px para cima)*/
/*Dispositivos largos(laptops/desktops, 992px para cima)*/
/*Extra dispositivos largos laptops e desktops de 1200px para cima*/

/*# sourceMappingURL=responsive-login.css.map */
